<mat-toolbar fxLayout fxLayoutAlign="space-between center">
    <div class="logo">
        <span><b>MANGIONA</b></span>
        <mat-icon class="white">local_pizza</mat-icon>
    </div>
    <button mat-button class="hi" [matMenuTriggerFor]="menu">
        <!-- <img src="../../../../assets/user.png" alt=""> -->
        <mat-icon class="white">person</mat-icon>
        <span>⠀Administrador⠀</span>
        <mat-icon class="white">keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout.logout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>
        </button>
    </mat-menu>
</mat-toolbar>
<mat-toolbar class="mt2" fxLayoutAlign="space-between center">
    <span class="descrp">TROZOS PERFECTOS</span>
    <div class="op" fxLayout>
        <mat-icon class="comer" matSuffix>restaurant_menu</mat-icon>
        <div class="opciones">
            <mat-list-item *ngFor="let menu of listMenu">
                <a [routerLink]="menu.url">
                    <span *ngIf="expanded">{{menu.title}}</span>
                </a>
            </mat-list-item>
        </div>
        <mat-icon class="scar" matSuffix>add_shopping_cart</mat-icon>
    </div>
</mat-toolbar>