h2{
    text-align: center;
}

:host{
    width: 80%;
    display: block;
}

svg{
    width: 50%;
    margin: 0 auto;
}

a{
    color: rgb(133, 133, 133);
    margin: 15px auto;
}

.registrar{
    margin-top: 100px;
    text-align: center;
}

/* button{
    margin-left: 25px;
} */

.titulo {
    color: #3c3b3f;
    font-size: 30px;
    text-align: center;
    margin-bottom: 75px;
}