<pizza-barra></pizza-barra>
<div class="contenido-textos">
    <h3 fxLayoutAlign="space-between center" class="titulo">Promociones Pizzas <span>></span></h3>
</div>
<div class="contenido-textos">
    <h3 fxLayoutAlign="space-between center" class="titulos">Filtros ❯<span>></span></h3>
</div>
<div fxLayout fxLayoutAlign="space-around center" class="uno">
    <mat-form-field appearance="outline" fxLayoutAlign="start center">
        <mat-label>Promoción</mat-label>
        <input matInput type="search" placeholder="Ingrese Promoción" [(ngModel)]="search">
        <button class="search" mat-raised-button color="accent" (click)="loadMenuPizza()" matTooltip="BUSCAR" matSuffix
            fxLayoutAlign="center center">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="outline" fxLayoutAlign="start center">
        <mat-label>Día</mat-label>
        <input matInput type="search" placeholder="Ingrese Día" [(ngModel)]="searchI">
        <button class="search" mat-raised-button color="accent" (click)="loadDays()" matTooltip="BUSCAR"
            matSuffix fxLayoutAlign="center center">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <div fxLayout class="dos">
        <mat-label>Precio:⠀⠀</mat-label>
        <input matInput type="number" placeholder="Min" [(ngModel)]="searchMin">
        <input matInput type="number" placeholder="Max" [(ngModel)]="searchMax">
        <button class="search" mat-raised-button color="accent" (click)="loadPrecios()" matTooltip="BUSCAR" matSuffix
            fxLayoutAlign="center center">
            <mat-icon>search</mat-icon>
        </button>
    </div>
</div>
<perfect-scrollbar>
    <mat-grid-list cols="4" rowHeight="275px">
        <div *ngFor="let pizza of records">
            <mat-grid-tile>
                <pizza-card [image]="pizza.image" [name]="pizza.name" [price]="pizza.price" [day]="pizza.day">
                </pizza-card>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</perfect-scrollbar>