<!-- <div fxLayout fxLayoutAlign="space-between" class="container">
    <div class="info" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 65%">
        <div class="info" fxLayout="column" fxLayoutAlign="center left" fxFlex="1 1 65%">
            <h2>Mangiona</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repudiandae a, maxime expedita, rerum
                nam
                tempora esse, neque tempore reprehenderit voluptatibus adipisci sint officiis iste? Blanditiis
                distinctio
                vel officia incidunt.</p>
            <div class="pizzas" fxLayout fxLayoutAlign="space-evenly">
                <img src="../../../../assets/pizza2.jpg" alt="">
                <img src="../../../../assets/pizza3.jpg" alt="">
                <img src="../../../../assets/pizza4.jpg" alt="">
            </div>
            <button mat-raised-button color="accent">Ver menú</button>
        </div>
    </div>
    <div class="login" fxLayout fxLayoutAlign="center center" fxFlex="1 1 27%">
        <pizza-login></pizza-login>
    </div>
    <div class="black"></div>
</div> -->
<!-- <pizza-header></pizza-header> -->
<pizza-barra-dos></pizza-barra-dos>
<div fxLayout fxLayoutAlign="start center" class="container">
    <div class="container" fxLayout="column" fxLayoutAlign="center end" fxFlex="1 1 50%">
        <img src="assets/undraw_login_re_4vu2.svg" class="image-about-us">
        <div class="sp" fxLayout="column">
            <div class="bajo" fxLayout="column" fxLayoutAlign="space-around center">
                <!-- <button mat-stroked-button color="primary" onclick="">Inicio</button> -->
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta reiciendis corrupti officia incidunt
                    a maxime magnam perspiciatis! Praesentium, quos quis?</p>
                <a href="">
                    <button mat-stroked-button color="primary">Inicio</button>
                </a>
            </div>
        </div>
    </div>
    <div class="login" fxLayout fxLayoutAlign="center center" fxFlex="1 1 35%">
        <pizza-login></pizza-login>
    </div>
</div>